<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="../public/stylesheets/frontPage.css" rel="stylesheet">
    <title>Harries Potter</title>
</head>
<body>
    
    <div class="navbar">
        
        <div class="dropdown">
          <button class="dropbtn">Potter 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Udenfor</a>
            <a href="#">Indenfor</a>
          </div>
        </div> 
        <div class="dropdown">
            <button class="dropbtn">Underskål 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Udenfor</a>
              <a href="#">Indenfor</a>
            </div>
          </div> 
          <a href="#home">Tilbud</a>
        <a href="#news">Populære</a>
      </div>




</body>
</html>