<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="..\public\stylesheets\kontaktOs.css">


    <title>Kontakt Os</title>
</head>
<body>
        <h1>Kontakt os</h1>
    <p class="contactinfo"> Firma: Harri's Potter </p>
    <p class="contactinfo">Adresse:<br> 
        Skælskør Hjordrupvej 42 <br> 4230 </p>
    <p class="contactinfo">Telefonnummer: 42500087Placeholder</p>
    <p class="Mail">Email: harrispotter.salg@gmail.com</p>


    <form id="=contactForm">
        <label for="Mail">Mail:</label><br>
        <input type="text" placeholder="Indtast din email..." id="Mail" name="Mail"><br>
        <label for="Nr">Nummer:</label><br>
        <input type="text" placeholder="Indtast dit telefonnummer..." id="Nr" name="Nr"><br>
        <label for="Name">Navn</label><br>
        <input type="text" placeholder="Indtast dit navn..." id="Name" name="Name"><br>
        <label for="Message">Besked</label><br>
        <textarea name="Message" placeholder="Stil dit spørgsmål her..." id="Message" cols="50" rows="8"></textarea> <br>
        
        <button onclick="sendEmail()">Send</button>
    </form>

    <div>
<img src="" alt="">

    </div>

</body>
</html>