

body {

    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 200px, #0c6027 100%) repeat-x scroll 0% 0% #0c6027;
    width: 100%;
    height: 100%
}


h1 {

    font-family: 'Times New Roman', Times, serif;

    font-style: italic;

    font-size: 60px;
}

p {
    font-family: 'Times New Roman', Times, serif;

    font-style: italic;

    font-size: 20px;
}






.SendSupport {
width: 50px;
height: 25px;
}
#Message{
    resize: none;

}

button {

    width: 75px;
    height: 25px;
}


form {

    border-radius: 10%;
    
}