
html {
  color: #47a562;
}


#deleteButton {
  max-width: fit-content;
  max-height: fit-content;
  margin-top: 1%;
}

#buttonAdminSite {
  max-width: fit-content;
  max-height: fit-content;
  margin-top: 18px;
}











/*
#updateStorage {

  margin-bottom: 10px;

}

#deleteItemFromStorage {
margin-bottom: 10px;

}

table, th, td {


border:1px solid black;
  

}
*/